*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f5f6fa;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#273c75;
    color:white;
}

nav ul{
    display:flex;
    gap:20px;
    list-style:none;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.about{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
    padding:80px;
}

.profile img{
    width:400px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

.about-text{
    width:50%;
}

.about-text h1{
    font-size:50px;
    margin-bottom:20px;
    color:#273c75;
}

.about-text p{
    font-size:18px;
    line-height:1.8;
    color:#555;
}

.info{
    margin-top:30px;
    display:flex;
    gap:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}