*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f5f6fa;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#273c75;
    color:white;
}

nav ul{
    display:flex;
    gap:20px;
    list-style:none;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.hero{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:90vh;
    padding:50px;
    gap:50px;
}

.hero-text{
    width:50%;
}

.hero-text h1{
    font-size:55px;
    color:#2f3640;
    margin-bottom:20px;
}

.hero-text p{
    font-size:18px;
    line-height:1.8;
    margin-bottom:30px;
    color:#555;
}

button{
    padding:15px 30px;
    border:none;
    background:#273c75;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#192a56;
}

.hero-image img{
    width:400px;
    border-radius:20px;
}